<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

 
    <h1>Home page</h1>
    <h3>
        <%= 'hello world' %>
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Sit, necessitatibus quo! Laborum 
        labore similique incidunt commodi eaque, tempora in 
        illo distinctio doloribus veniam ut harum veritatis
         expedita obcaecati quae accusamus.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing 
        elit. Voluptas, quos, rem inventore aut sequi pariatur molestias iste accusamus, laboriosam hic quasi consequatur quisi
         corrupti assumenda voluptates nam deleniti possimus voluptatibus!
    </p>
    
<%- include('partials/footer.ejs') %>

 